<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luxe & Legacy</title>
</head>
<body>
    <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Categories</h4>
<!--                  <p class="card-description">-->
<!--                    Basic form elements-->
<!--                  </p>-->
                  <form class="forms-sample" method="post" action="{% url 'update_category' data_id=data.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" fdprocessedid="ailhie" name="Name" value="{{data.Name}}">
                    </div>
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputEmail3">Email address</label>-->
<!--                      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" fdprocessedid="2ly99s">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputPassword4">Password</label>-->
<!--                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password" fdprocessedid="z6q54">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleSelectGender">Gender</label>-->
<!--                        <select class="form-control" id="exampleSelectGender" fdprocessedid="71dyk">-->
<!--                          <option>Male</option>-->
<!--                          <option>Female</option>-->
<!--                        </select>-->
<!--                      </div>-->
                      <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="Description">{{data.Description}}</textarea><br>


                    <div class="form-group">
                      <label for="fileupload">File upload</label><br>
                        <img src="{{data.Image.url}}" width="80px" height="80px">
                      <input type="file" name="Image" id="fileupload" >
<!--                      <div class="input-group col-xs-12">-->
<!--                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image" fdprocessedid="93w1lu">-->
<!--                        <span class="input-group-append">-->
<!--                          <button class="file-upload-browse btn btn-primary" type="button" fdprocessedid="49m6e">Upload</button>-->
<!--                        </span>-->
<!--                      </div>-->
                    </div>
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputCity1">City</label>-->
<!--                      <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location" fdprocessedid="9i2tzd">-->
<!--                    </div>-->

                    </div>
                    <button type="submit" class="btn btn-primary mr-2" fdprocessedid="t5xmhw">Submit</button>
                    <button class="btn btn-light" fdprocessedid="hlpg0k">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
</body>
</html>
{% endblock %}